<div id="app">
  <header>
    <h1>Cursos de Platzi 🤑</h1>
    <form>
      <input type="text" placeholder="Nombre del curso">
      <input type="number" placeholder="Duración">
      <button>Agregar</button>
    </form>
  </header>

  <main>
    <h2>Lista de Cursos</h2>
    <ul>
      <li v-for="course in courses">
        {{ course?.title }} - {{ course?.time }}
      </li>
    </ul>
  </main>

  <footer>
    <h4 v-if="!courses.lenght">
      Aún no has tomado un curso
    </h4>
  </footer>
</div>